<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/styles/main.min.css")
    title Funbox
  body
    .wrapper
      .containter
        h1.header Ты сегодня покормил кота?
        .product
          ul.product__list
            li.product__item
              .product__card
                span.product__lead Сказочное заморское царство
                h2.product__name Нямушка
                span.product__addon с курой
                span.product__portions 5 порций
                span.product__prize 1 мышь в подарок
                img.product__cat
                .product__weight
                  span.product__weight-text 0,5 КГ
              span.product__offer Чего сидишь? Порадуй котэ,
              a.product__offer_link купи.
            li.product__item
              .product__card
                span.product__lead Сказочное заморское яство
                h2.product__name Нямушка
                span.product__addon с курой
                span.product__portions 5 порций
                span.product__prize 1 мышь в подарок
                img.product__cat
                .product__weight
                  span.product__weight-text 0,5 КГ
              span.product__offer Чего сидишь? Порадуй котэ,
              a.product__offer_link купи.
            li.product__item
              .product__card
                span.product__lead Сказочное заморское яство
                h2.product__name Нямушка
                span.product__addon с курой
                span.product__portions 5 порций
                span.product__prize 1 мышь в подарок
                img.product__cat
                .product__weight
                  span.product__weight-text 0,5 КГ
              span.product__offer Чего сидишь? Порадуй котэ,
              a.product__offer_link купи.
